<h1 class="text-xl">ÜBER UNS</h1>
<br>
<div class="grid grid-cols-3">
    <div class="col-span-2">
        <div class="grid grid-cols-3">
            <div>
                <img class="w-2/5" style="height: 200px" src="images/fred-about-page.png" alt="Fred derfred"/>
                <h4>Fred</h4>
            </div>
            <div>
                <img class="w-2/5" style="height: 200px; width: auto;" src="images/malte-about-page.jpeg" alt="Malte"/>
                <h4>Malte</h4>
            </div>
        </div>
        <br>
        <article>
             <p class="mt-5">
                Wir sind eine deutschsprachige Plattform für das Tabletop-Spiel Warhammer 40.000. Auf unserer Website und den gängigen Social Media Plattformen bieten wir euch alles, was zum kompetitiv ausgerichteten 40k dazu gehört.
                <br>
                <br>
                Wir richten uns explizit an Spielerinnen und Spieler, die sich für die strategischen und taktischen Aspekte des Spiels interessieren. Neben wunderschön bemalten Modellen und spannenden Hintergrundgeschichten sehen wir in 40k eine geradezu unendliche Fülle spielerischer Herausforderungen, die es mit intensivem Training aber vor allem viel Kopfzerbrechen und ungebrochener Konzentration am Spieltisch zu bewältigen gilt.
                <br>
                <br>
                In unseren Podcasts beleuchten wir die aktuellsten Strategien und Armeekonzepte. Gleichzeitig bieten euch Hilfestellungen zum gezielten Armeeaufbau und zur Turniervorbereitung. Unsere Live-Streams ermöglichen es Turnierspiele hautnah mitzuverfolgen.
                <br>
                <br>
                Außerdem bieten wir Deutschlands ersten 40k Coaching Service an. Unsere Coaches unterstützen euch in 1-zu-1 Sitzungen bei der spielerischen Weiterentwicklung und helfen euch eure selbst definierten Ziele zu erreichen.
                <br>
                <br>
                Unser Team setzt sich zusammen aus erfolgreichen Turnierspielern, die jahrelange Erfahrung im deutschen und internationalen Wettbewerb gesammelt haben. Die Unterstützung aus verschieden Bereichen der Szene hilft uns unsere Begeisterung für Turnier 40k nach außen zu tragen. Es ist unser erklärtes Ziel, die deutschsprachrige 40k Szene zu fördern, indem wir immer mehr Menschen für das Spiel und die Turniere begeistern. Damit sehen wir uns im Einklang mit anderen 40k Plattformen.
                <br>
                <br>
                Wir lieben den sportlichen Wettkampf und sehen in jedem 40k Spiel eine neue Herausforderung. In diesem Sinne lautet unser orkisches Motto:
                <br>
                <br>
                Breaking Heads never lose!
                <br>
                If we win, we win.
                <br>
                If we lose, we lose fighting, that doesn’t count.
                <br>
                If we give up and run away, we come back and fight another day!
            </p>
        </article>
    </div>
    <div>
    </div>
</div>