<h2 class="text-xl">COACHING</h2>

<br>
<div class="grid grid-cols-3">
    <div class="col-span-2">
        <a href="/coaching/anfrageformular"><button>COACHING FORMULAR</button></a>

        <article>
            <h4 class="text-xl">Überblick</h4>
            <p>
                Unser Coaching Service unterstützt sowohl Neulinge bei als auch Turniererfahrene dabei, ihre selbst definierten Ziele bei Warhammer 40.000 zu erreichen. Jedes Coaching ist individuell auf den Spieler bzw. die Spielerin und das gewünschte Thema zugeschnitten. Unten findet ihr unserer Coachingformate beschrieben. Bitte kontaktiert uns über das Anfrageformular, wenn ihr Interesse an einem Coaching habt.
            </p>
            <br>
            <h4 class="text-xl">Was ist ein 40k Coaching?</h4>
            <p>
                Beim Coaching setzen Spieler/in und Coach ein gemeinsames Ziel für das Coaching und übersetzen dieses in Meilensteine und persönliche Erfolgkriterien. Zusammen arbeiten sie an Verwirklichungen dieses Ziels und evaluieren und dokumentieren die Entwicklung.
            </p>
            <p>
                Unsere Coaches sind erfahrene Topspieler. Sie sind offen für alle Fragen und Themen mit einem Bezug zu kompetitivem 40k. Themen eines Coachings sind zum Beispiel:
            </p>
            <ol>
                <li>Turniereinstieg</li>
                <li>Grundlegende Strategien und Taktiken</li>
                <li>Beratung beim Armeeaufbau</li>
                <li>Armeelisten schreiben</li>
                <li>die eigene Armee meistern</li>
                <li>Matchups verstehen und lösen</li>
                <li>optimale Turniervorbereitung</li>
                <li>effektives Training</li>
                <li>die aktuellen Turnierbedingungen (“Meta”) analysieren</li>
            </ol>
            <br>
            <h4 class="text-xl">Wie verläuft ein 40k Coaching bei den BreakingHeads?</h4>
            <p>
                Ein Coaching verläuft über mehrere 1-zu-1-Sitzungen von 45 bis 90 Minuten über Video-Chat. Sitzungen finden entweder wöchentlich oder monatlich statt. Neben den Sitzungen beantworten wir regelmäßig eure Fragen per eMail. Der Umfang und die Regelmäßigkeit der Sitzungen wird in einem Vorgespräch geklärt. Auf Anfrage stellen wir euch individuell zugeschnittene Armeelisten bereit.
                <br>
                Über das untenstehende Anfrageformular könnt ihr ein Coaching bei uns anfragen. Die eingegebenen Daten werden nicht an Dritte weiter gegeben. Die Anfragen werden per Email beantwortet.
                <br>
                Vor Beginn des Coachings wird eine Coachingvereinbarung abgeschlossen.
            </p>
            <br>
            <h4 class="text-xl">Kann ich ein 40k Coaching auch verschenken?</h4>
            <p>
                Ja! Am Ende dieser Seite könnt ihr Gutscheine für Freunde und Familie erwerben!
            </p>
        </article>
        <br>
        
        <div class="grid grid-cols-3">
            <div>
                <h4>YouTube</h4>

            </div>
            <div>
                <h4>Podcast</h4>
                
            </div>
            <div>
                <h4>Patreon</h4>
                
            </div>
            <div>
                
            </div>
        </div>
    </div>
    <div>
    </div>
</div>