<h2 class="text-xl">CONTENT</h2>

<br>
<div class="grid grid-cols-3">
    <div class="col-span-2">
        <article>
             <p class="mt-5">
                Unseren Podcast findet ihr überall dort, wo es Podcasts gibt. In jeder Folge lernt ihr erfahrene Turnierspieler und ihre Armeen kennen.
                <br>
                Wir tauchen tief ein in die Stratagien und Taktiken, die für den Punktestand entscheidend sind.
                <br>
                Jeden Montagabend besprechen wir in unserem Livestream die letzten Turnierergebnisse in der deutschen 40k-Landschaft und bringen euch alle Neuigkeiten die kompetitives Spiel betreffen.
                <br>
                Exklusive Bonusinhalte erscheinen regelmäßig auf Patreon und für Youtube Mitglieder.
            </p>
        </article>
        <br>
        
        <div class="grid grid-cols-3">
            <div>
                <h4>YouTube</h4>

            </div>
            <div>
                <h4>Podcast</h4>
                
            </div>
            <div>
                <h4>Patreon</h4>
                
            </div>
            <div>
                
            </div>
        </div>
    </div>
    <div>
    </div>
</div>